<!-- <div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-container">
    <dotlottie-wc
      src="https://lottie.host/6267c7a5-e281-4714-8bae-68784ee38629/PHthv82hN2.lottie"
      style="width: 300px; height: 300px;"
      autoplay
      loop>
    </dotlottie-wc>
  </div>
</div>
 -->

 <div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-container">
      <dotlottie-wc
        src="https://lottie.host/9954d50a-4d84-43db-9c2d-0a9621eb1110/JXQO3z51qU.lottie"
        style="width: 300px; height: 300px;"
        autoplay
        loop>
      </dotlottie-wc>
    </div>
  </div>
